{% extends "base.html" %}


{% block body %}
<div class="container">
    <div class=" d-flex justify-content-center search">
        <h2>Votre recherche {{product_request}}</h2>
    </div>
    <div class="row justify-content-center main_row">
        {% if not products%}
        <p> Nous n'avons pas trouvé de produits correspondants à votre recherche</p>
        {% else %}
        {%for product in products%}
        <div class=" p-2 mb-5 mx-lg-2 product-card bg-light border rounded col-lg-3 col-md-5 col-8 offset-2
            offset-md-0">
            <img class="img-fluid product-img rounded mb-1" src="{{product.image_url}}">
            <a class="d-block mb-2" href="#"> {{product.product_name}}</a>
            <a href="{% url 'substitute' product.barcode %}"><button>Substituer</button></a>
            <div class="nutriscore nutriscore-{{product.nutrition_grade}} text-uppercase text-center">
                {{product.nutrition_grade}}</div>
        </div>
        {%endfor%}
        {%endif%}
    </div>

</div>
{% endblock body %}