{% extends "base.html" %}

{% load static %}
{% block body %}
<div class="container">
    <div class="row legale">
        <div class="col">
            <p>
                Template bootstrap utilisé : Startbootstrap-creative<br>

                toutes les informations à propos des produits présents sur le site proviennent de l'API Openfoodfacts
                <br>

                Toutes les images en rapport avec le film d'animation 'Ratatouille' sont la propriété de Disney<br>

                Les images de fond utilisées sont disponibles à ces adresses : image numéro 1 - image numéro 2<br>


                Le site web est déployé sur Heroku <br>

                Toutes les autres ressources présentes sur le site sont libres de droit<br>
            </p>
        </div>
    </div>
</div>

{% endblock %}